@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* HEADER */

header {
	min-height: 100px;

	background-color: #24262b;
	padding: 30px;

	display: flex;
	align-items: center;
}

header nav {
	width: 100%;
	display: flex;
	gap: 30px;

	align-items: center;
	justify-content: space-around;
}

header nav img {
	clip-path: circle(30% at 50% 50%);	

	width: 100px;
	border-radius: 50%;
}

header nav ul {
	display: flex;
	gap: 50px;
}

header nav ul li .link-header:hover {
	padding-left: 0px;
}

/* MAIN */

main img {
	max-height: 300px;

	width: 100%;
	max-width: 500px;
}

main .content-main {
	text-align: center;

	background-color: #c4c4c4;
	padding: 10px;
	margin: 50px auto;
	
	width: 80%;
	border-radius: 30px;
}

/* FOOTER */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul, ol{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 33%;
   padding: 0 15px;
}
.footer-col h3{
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h3::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #2871FF;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ol li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ol li a,
a {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ol li a:hover,
a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links {
	display: flex;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;

	
	display: flex;
	align-items: center;
	justify-content: center;

	text-decoration: none;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* responsive header */

@media(max-width: 500px) {
	header nav {
		flex-direction: column;
	}
}

/* responsive footer */
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media(min-width: 830px) {
	main .content-main {
		width: 664px;
	}
}






